body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}

.container {
    box-shadow: 0 21px 41px -13px rgb(0 0 0 / 18%);
    background: #fff;
    padding: 30px 50px 50px 50px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.col-2 {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.col-1 {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

input {
    padding: 15px;
    height: 30px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
}

input:focus, input:active {
    border-color: rgba(0,0,0,.1);
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(16 137 255 / 25%);
}

input.error, textarea.error, select.error {
    border-color: #dc3545;
}

input.error:focus, textarea.error:focus, select.error:focus {
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

::placeholder {
    color: #cfcfcf !important;
}

.field small {
    color: #dc3545;
}

.btn {
    background: #1089ff;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 2px;
    font-weight: 400;
    -webkit-box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 10px 20px -6px rgba(0,0,0,.12);
    box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
    position: relative;
    margin: 15px 0 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn:hover, .btn:focus {
    background: #006fdc;
    color: #fff;
    outline: none!important;
    -webkit-box-shadow: 0 10px 20px -6px rgba(0,0,0,.22)!important;
    -moz-box-shadow: 0 10px 20px -6px rgba(0,0,0,.22)!important;
    box-shadow: 0 10px 20px -6px rgba(0,0,0,.22)!important;
}

.btn-reset {
    background: #b5b5b5 !important;
    text-decoration: none;
}

.btn-reset:hover, .btn-reset:focus {
    background: #919191 !important;
}

.box {
    min-height: 200px;
    width: 50%;
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    margin: 0 30px;
    box-shadow: 0 21px 41px -13px rgb(0 0 0 / 18%);
    transition: transform 0.2s, box-shadow 0.2s;
}

.vitez {
    box-shadow: 0 21px 41px -13px rgb(220 0 0);
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        width: auto;
    }
}

@media only screen and (max-width: 650px) {
    .wrapper {
        padding: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        margin: 20px 30px;
    }
}